@use "sass:list";
@use "sass:string";
@import "functions";

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700@display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

:root {
	font-size: clamp(13.5px, calc(6px + 0.6vw), 20px);
}

* {
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	font-family: sans-serif;
	min-height: 100vh;
	margin: 0;
	min-width: 900px;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

$images : "arrow.png",  "bg.png",  "block1.png",  "cursor-rotate.png",  "pipe1.png",  "pipe5.png",  "pipe5broken.png",  "pipe5static.png",  "pipe7.png",  "pipe7static.png",  "pipe11.png",  "pipe15.png",  "pipe17.png",  "pipe18.png",  "start-bg.jpg",  "trash-bg.jpg",  "water.png",  "water6.png",  "water-light.png",  "zegar.png";

$bg : null;

@for $i from 1 through list.length($images) {
	$img : "url(../images-assets/#{nth($images, $i)})";
	$bg : list.append($bg, string.unquote($img), $separator: comma);
}

body::before {
	content: "";
	width: 0;
	height: 0;
	background-image: $bg;
}

.level {
	display: grid;
	grid-template-columns: 1fr rem(280px);
	grid-template-rows: rem(80px) 1fr rem(170px);
	height: 100vh;
	grid-template-areas:
		"level moves"
		"level missed-parts"
		"level trash";
}

.level-complete .level {
	//filter: url("#turbulence");
}

.canvas-cnt {
	align-self: center;
	grid-area: level;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 2px solid #000;
	height: 100%;
}

.canvas {
	width: rem(850px);
	display: inline-grid;
	border-radius: rem(5px);
	overflow: hidden;
	padding: rem(15px);
	gap: 3px;
	align-self: center;
	justify-self: center;
	//grid-row: 1 / -1;
	grid-area: level;
}

.parts-cnt {
	grid-area: missed-parts;
	overflow-y: scroll !important;
}

.trash {
	grid-area: trash;
}

.moves {
	align-self: center;
	justify-content: center;
	text-align: center;
	font-family: 'Finger Paint', cursive;
	font-size: rem(20px);
	color: #000;
}

